# no .log files
*.log
# no .db files
*.db
# only ignore the target file in the current directory, not subdir/target
/target 
# only ignore the bin file in the current directory, not subdir/target
/bin